<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

  <head>

    <base href="{{ page.base }}" />

    <title>{{ page.title }}</title>

    <!-- Metadata -->
    <meta charset="utf-8" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.tags }}" />
    <meta name="author" content="sulfasTor" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex,nofollow">
    <link rel="icon" type="image/png" href="/images/sulf.png" />


    <!-- External resources -->
    <link rel="author" href="/soon.html" />
    <link rel="alternate" type="application/rss+xml"
	  title="sulfasTor homepage feed" href="/feed.xml" />
    <link rel="icon" type="image/x-icon" href="/images/sulf.png" />
    <link rel="stylesheet" href="/styles/main.css" />

    {% unless page.news == null %}
    <script src="/scripts/jquery-1.6.4.min.js"></script>
    <script src="/scripts/jquery.jfeed.pack.js"></script>
    <script src="/scripts/feed2html.js"></script>
    <script>fetchFeed ('/feed.xml', {{ page.news[0] }}, '{{ page.news[1] }}');</script>
    <link rel="stylesheet" href="/styles/news-feed.css" />
    {% endunless %}

    <!-- Licenses -->
    {% if page.license == 'CC BY-ND 4.0' %}
    <link rel="license"
	  href="http://creativecommons.org/licenses/by-nd/4.0/" />
    {% endif %}

    {% if page.license == 'CC BY-SA 4.0' %}
    <link rel="license"
	  href="http://creativecommons.org/licenses/by-sa/4.0/" />
    {% endif %}

    <style type="text/css">
      .nav-bar a[href="{{ site.baseurl | append: page.url | remove: 'index.html'}}"] {
        color: black;
        background-color: white;
        border-color: black;
      }

      /* Centering and margin for better readability */
      .content-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }
    </style>

    <!-- Metadata -->

  </head>

  <body>

    <header>
      <header><font size="7">WELCOME TO THE INTERNET</font>
	
	<div style="text-align: right;"><p1><b>Developed by sulfasTor</b></p1></div>
	
	<!-- ===================== Search Engine ===================== -->
	<form id="search-form"
	      target="_blank"
	      action="https://startpage.com/do/search"
	      method="post"
	      name="searchsys"
	      autocomplete="off"
	      onsubmit="javascript:document.searchsys.query.value=document.searchsys.keyword.value;">

	  <input id="search-input" name="keyword" />
	  <input id="search-image"
		 title="Search this site" alt="Search this site"
		 type="image" src="/images/spacer.png"/>

	  <input type="hidden" name="query" />
	  <input type="hidden" name="host" value="sulfastor.github.io"/>

      </form>

      </header>
      
      <!-- ===================== Navigation Menu ===================== -->
      <nav>
	<ul class="nav-bar">

	  <!-- Front page -->
	  <li><a href="/">Home</a></li>

	  <!-- About me -->
	  <li><a href="/about">About</a></li>

	  <!-- Curriculum -->
	  <li><a href="/cv">Curriculum</a></li>
	  
	</ul>
      </nav>

    </header>

    <body>

      <article class="content-container">

        <div>
	  {{ content }}
        </div>

        <hr> 
        <footer>
	  <p style="font-size:70%; color:#939393; text-align:center;">
	    <big style="font-weight: normal"> "Have I not commanded you?<b> Be strong and courageous.</b> Do not be afraid; do not be discouraged, for the Lord your God will be with you wherever you go."  <b>Joshua 1:9</b>  </big>
	  </p>
	  
	  <div id="copyright-notice">
	    <p>
	      <strong>Copyright © 2016 sulfasTor</strong>
	    </p>

	    <p>
	      <!-- CC BY-ND 4.0 -->
	      {% if page.license == 'CC BY-ND 4.0' %}
	      <a href="http://creativecommons.org/licenses/by-nd/4.0/">
	        <img src="/images/cc-by-nd.png"
		     title="CC BY-ND 4.0"
		     alt="CC BY-ND 4.0"
		     width="88" height="31" /></a>
	      {% endif %}

	      <!-- CC BY-SA 4.0 -->
	      {% if page.license == 'CC BY-SA 4.0' %}
	      <a href="http://creativecommons.org/licenses/by-sa/4.0/">
	        <img src="/images/cc-by-sa.png"
		     title="CC BY-SA 4.0"
		     alt="CC BY-SA 4.0"
		     width="88" height="31" /></a>
	      {% endif %}

	      This work is licensed under a

	      <!-- CC BY-ND 4.0 -->
	      {% if page.license == 'CC BY-ND 4.0' %}
	      <abbr title="Creative Commons Attribution-NoDerivatives 4.0 International">
	        CC BY-ND 4.0</abbr>
	      {% endif %}

	      <!-- CC BY-SA 4.0 -->
	      {% if page.license == 'CC BY-SA 4.0' %}
	      <abbr title="Creative Commons Attribution-ShareAlike 4.0 International">
	        CC BY-SA 4.0</abbr>
	      {% endif %}

	      license. You are free to copy and redistribute the material in
	      any medium or format, for any purpose, provided you abide by the
	      license terms.
	    </p>
	  </div>
        </footer>
      </article>
    </body>
</html>
