#news {
    position: relative;
}

#news img {
    position: absolute;
    top: 2px;
    right: 14px;
}

.feed-source {
    display: none;
}

.feed-item {
    border: 2px solid #336699;
    margin: 20px 0px 20px 0px;
    padding: 4px;
}

.feed-header {
    border-bottom: 2px solid #336699;
    width: 100%;
    color: black;
    font-weight: bold;
}

.feed-item-title {
    display: inline-block;
    width: 50%;
}

#news h1, #news h2, #news h3, #news h4, #news h5, #news h6 {
    display: none;
}

/* Truncate the first paragraph to 100 characters visually */
#news p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; /* Ensures the text does not overflow */
}